GET /game/level9/uru2rd2r2d3r3u2rd2l2d3l2ur2ul2d3r2ulrdl6ulu7rur4du7l7d2lurdr7ulu7rur2d7l6d2lurdr5ulu7r6l5d2lurdr5ulu6rdrulurld6l5dr5d3ru2ldl6ulu6rdr2ulur2d6l6druruldl4ulu6rdr3ud7ldr5dr3dl9ulu6rdru7lr5d3r2dludldl7ulu5rur2dldr2u5l9d2rul2u2rdl2r3ldl8ulu3rururdld3ru6lr9dlur2u2ldrdr7ulu5rur3du5l7d4lu3ld5rdr7ulu5rur2d6lr6d2rd3ru2rd6ldl8ulu4rdr2ulrl2ur2d4l9d3lu2rd3rulu3ru3rd6ldl4u3d4lu2ld5rur6u2lu4rdrulurd4l4dr4dl7ulu5r HTTP/1.1
User-Agent: Wget/1.16 (linux-gnu)
Accept: */*
Host: localhost:8080
Connection: Keep-Alive

