* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #999;
    color: #333;
    font-family: Monospace;
    text-shadow: 0 0, 1px 1px #666;
    font-size: 110%;
    text-align: center;
}
h1 {
    color: #eed;
    font-size: 300%;
    background-color: #666;
}
a {
    text-decoration: none;
    color: #99f;
}
a:visited {
    color: #c6f;
}
.main_wrapper {
    display: inline-block;
    margin: 2ex 0;
    text-align: left;
}
.index p {
    margin: 2ex;
    max-width: 50em;
}
.index a {
    color: #063;
}
.index .important {
    font-size: 150%;
    border: 3px dotted #396;
    padding: 1ex 1em;
    background-color: #6c9;
}
.box {
    background-color: #333;
    border: 2px solid #fff;
    color: #eed;
    float: left;
    margin-right: 1em;
}
.box.last {
    margin-right: 0;
}
.box h2 {
    text-align: center;
    background-color: #000;
}
.box hr {
    padding: 0;
    margin: 1ex 0.5em;
    border: none;
    border-top: medium double;
    color: auto;
    text-align: center;
}
.inside {
    margin: 0.5ex 0.5em;
    text-align: center;
    white-space: pre;
}
.box hr:after {
    content: "@";
    display: inline-block;
    position: relative;
    top: -0.75em;
    padding: 0 0.25em;
    background: #333;
}
pre {
    display: inline-block;
    font-family: monospace;
    width: auto;
}
.game pre {
    background-color: #000;
    font-size: 125%;
    text-shadow: none;
}
code, key {
    background-color: #000;
}
key:before {
    content: "["
}
key:after {
    content: "]"
}
.s_b {
    color: #f6f;
}
.s_bp {
    color: #ff6;
}
.s_bpr {
    color: #6f6;
}
.s_w {
    color: #66f;
}
.s_y {
    color: #fff;
}
.s_yobp {
    color: #f66;
}
.legend ul {
    margin: 0.5ex 0.5em;
    display: inline-block;
}
.legend li {
    margin: 2pt;
    list-style: none;
}
.legend code {
    display: inline-block;
    padding: 0.5ex;
}
.controls p, .legend p {
    max-width: 14em;
    margin: 0.5em;
}
@media screen and (max-width: 640px) {
    .box {
        float: none;
        margin-bottom: 1ex;
    }
    .box.last {
        margin-bottom: 0;
    }
    .controls p, .controls hr {
        display: none;
    }
}
